body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffd364; /* Background color for the entire body */
    color: #000000; /* Text color */
  }
  
  .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 219, 1, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #0018cf; /* Header text color */
  }
  
  main {
    text-align: center;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  #city-input {
    padding: 10px;
    font-size: 16px;
  }
  
  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #0018cf; 
  }
  
  #weather-container {
    margin-bottom: 20px;
  }
  
  .map-container {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #local-time {
    font-size: 18px;
    color: #000000; 
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #0018cf; 
  }
  